/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Montserrat&display=swap");

/* Universal selector  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Body */
body {
  color: #444444;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* background-color: #f7f7f7; */
}

/* Navigation Part */
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 80px 0 60px;
}

.header-main h1 {
  font-size: 24px;
  font-weight: bold;
}

nav > ul {
  list-style: none;

  display: flex;
  gap: 30px;
}

/* Main Heading Part */
.header-sub {
  display: flex;
  align-items: center;
  gap: 100px;

  margin-bottom: 70px;
}

.heading-content h2 {
  font-size: 52px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.2;
  margin-bottom: 30px;
}

.heading-content P {
  font-weight: 700;
  margin-bottom: 30px;
}

.heading-content a {
  display: inline-block;
  color: white;
  background-color: #ff008e;
  padding: 10px 20px;
  border-radius: 20px;
  transition: transform 0.3s;
}

.heading-content a:hover {
  background-color: #d22779;
  transform: scale(1.1);
}

.heading-img {
  background-image: url(images/Circle\ design.svg);
  background-size: cover;
}

/* Market Place */

.ecommerce {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 30px 100px;
  border-top: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
  margin-bottom: 100px;
}
